# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.1.0=pypi_0
addict=2.4.0=pypi_0
aliyun-python-sdk-core=2.16.0=pypi_0
aliyun-python-sdk-kms=2.16.5=pypi_0
appdirs=1.4.4=pypi_0
asttokens=3.0.0=pypi_0
attrs=25.1.0=pypi_0
backcall=0.2.0=pypi_0
black=24.8.0=pypi_0
blas=1.0=mkl
blinker=1.8.2=pypi_0
brotli-python=1.0.9=py38h6a678d5_8
bzip2=1.0.8=h5eee18b_6
ca-certificates=2025.2.25=h06a4308_0
cachetools=5.5.2=pypi_0
certifi=2024.8.30=py38h06a4308_0
cffi=1.17.1=pypi_0
charset-normalizer=3.3.2=pyhd3eb1b0_0
cityscapesscripts=2.2.4=pypi_0
click=8.1.8=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
comm=0.2.2=pypi_0
configargparse=1.7=pypi_0
contourpy=1.1.1=pypi_0
crcmod=1.7=pypi_0
cryptography=44.0.2=pypi_0
cuda-cudart=12.4.127=h99ab3db_0
cuda-cudart_linux-64=12.4.127=hd681fbe_0
cuda-cupti=12.4.127=h6a678d5_1
cuda-libraries=12.4.1=h06a4308_1
cuda-nvrtc=12.4.127=h99ab3db_1
cuda-nvtx=12.4.127=h6a678d5_1
cuda-opencl=12.4.127=h6a678d5_0
cuda-runtime=12.4.1=hb982923_0
cuda-version=12.4=hbda6634_3
cycler=0.12.1=pypi_0
dash=2.18.2=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
decorator=5.2.1=pypi_0
descartes=1.1.0=pypi_0
exceptiongroup=1.2.2=pypi_0
executing=2.2.0=pypi_0
fastjsonschema=2.21.1=pypi_0
ffmpeg=4.3=hf484d3e_0
filelock=3.14.0=pypi_0
fire=0.7.0=pypi_0
flake8=7.1.2=pypi_0
flask=3.0.3=pypi_0
fonttools=4.56.0=pypi_0
freetype=2.12.1=h4a9f257_0
ftfy=6.2.3=pypi_0
giflib=5.2.2=h5eee18b_0
gmp=6.3.0=h6a678d5_0
gmpy2=2.1.2=py38heeb90bb_0
gnutls=3.6.15=he1e5248_0
google-auth=2.38.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
grpcio=1.70.0=pypi_0
humanfriendly=10.0=pypi_0
idna=3.7=py38h06a4308_0
imageio=2.35.1=pypi_0
importlib-metadata=8.5.0=pypi_0
importlib-resources=6.4.5=pypi_0
iniconfig=2.0.0=pypi_0
intel-openmp=2023.1.0=hdb19cb5_46306
ipython=8.12.3=pypi_0
ipywidgets=8.1.5=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.2=pypi_0
jinja2=3.1.4=py38h06a4308_0
jmespath=0.10.0=pypi_0
joblib=1.4.2=pypi_0
jpeg=9e=h5eee18b_3
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter-core=5.7.2=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
kiwisolver=1.4.7=pypi_0
lame=3.100=h7b6447c_0
lazy-loader=0.4=pypi_0
lcms2=2.16=hb9589c4_0
ld_impl_linux-64=2.40=h12ee557_0
lerc=4.0.0=h6a678d5_0
libcublas=12.4.5.8=h99ab3db_1
libcufft=11.2.1.3=h99ab3db_1
libcufile=1.9.1.3=h99ab3db_1
libcurand=10.3.5.147=h99ab3db_1
libcusolver=11.6.1.9=h99ab3db_1
libcusparse=12.3.1.170=h99ab3db_1
libdeflate=1.22=h5eee18b_0
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libiconv=1.16=h5eee18b_3
libidn2=2.3.4=h5eee18b_0
libjpeg-turbo=2.0.0=h9bf148f_0
libnpp=12.2.5.30=h99ab3db_1
libnvfatbin=12.4.127=h7934f7d_2
libnvjitlink=12.4.127=h99ab3db_1
libnvjpeg=12.3.1.117=h6a678d5_1
libpng=1.6.39=h5eee18b_0
libstdcxx-ng=11.2.0=h1234567_1
libtasn1=4.19.0=h5eee18b_0
libtiff=4.5.1=hffd6297_1
libunistring=0.9.10=h27cfd23_0
libwebp=1.3.2=h11a3e52_0
libwebp-base=1.3.2=h5eee18b_1
llvm-openmp=14.0.6=h9e868ea_0
llvmlite=0.41.1=pypi_0
lyft-dataset-sdk=0.0.8=pypi_0
lz4-c=1.9.4=h6a678d5_1
markdown=3.7=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=py38h5eee18b_0
matplotlib=3.5.3=pypi_0
matplotlib-inline=0.1.7=pypi_0
mccabe=0.7.0=pypi_0
mdurl=0.1.2=pypi_0
mkl=2023.1.0=h213fc3f_46344
mkl-service=2.4.0=py38h5eee18b_1
mkl_fft=1.3.8=py38h5eee18b_0
mkl_random=1.2.4=py38hdb19cb5_0
mmcv=2.2.0=pypi_0
mmdet=3.3.0=pypi_0
mmdet3d=1.4.0=dev_0
mmengine=0.10.7=pypi_0
mmsegmentation=1.2.2=dev_0
model-index=0.1.11=pypi_0
mpc=1.3.1=h5eee18b_0
mpfr=4.2.1=h5eee18b_0
mpmath=1.3.0=py38h06a4308_0
mypy-extensions=1.0.0=pypi_0
narwhals=1.29.0=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
nettle=3.7.3=hbbd107a_1
networkx=3.1=py38h06a4308_0
ninja=1.11.1.4=pypi_0
numba=0.58.1=pypi_0
numpy=1.24.3=py38hf6e8229_1
numpy-base=1.24.3=py38h060ed82_1
nuscenes-devkit=1.1.11=pypi_0
oauthlib=3.2.2=pypi_0
ocl-icd=2.3.2=h5eee18b_1
open3d=0.19.0=pypi_0
opencv-python=4.11.0.86=pypi_0
opendatalab=0.0.10=pypi_0
openh264=2.1.1=h4ff587b_0
openjpeg=2.5.2=he7f1fd0_0
openmim=0.3.9=pypi_0
openssl=3.0.16=h5eee18b_0
openxlab=0.1.2=pypi_0
ordered-set=4.1.0=pypi_0
oss2=2.17.0=pypi_0
packaging=24.2=pypi_0
pandas=2.0.3=pypi_0
parso=0.8.4=pypi_0
pathspec=0.12.1=pypi_0
pexpect=4.9.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.4.0=py38h5eee18b_0
pip=24.2=py38h06a4308_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=4.3.6=pypi_0
plotly=6.0.0=pypi_0
pluggy=1.5.0=pypi_0
plyfile=1.0.3=pypi_0
prettytable=3.11.0=pypi_0
prompt-toolkit=3.0.50=pypi_0
protobuf=5.29.3=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.3=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pycocotools=2.0.7=pypi_0
pycodestyle=2.12.1=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.21.0=pypi_0
pyflakes=3.2.0=pypi_0
pygments=2.19.1=pypi_0
pyparsing=3.1.4=pypi_0
pyquaternion=0.9.9=pypi_0
pysocks=1.7.1=py38h06a4308_0
pytest=8.3.5=pypi_0
python=3.8.20=he870216_0
python-dateutil=2.9.0.post0=pypi_0
pytorch=2.4.1=py3.8_cuda12.4_cudnn9.1.0_0
pytorch-cuda=12.4=hc786d27_7
pytorch-mutex=1.0=cuda
pytz=2023.4=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0.2=py38h5eee18b_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
regex=2024.11.6=pypi_0
requests=2.28.2=pypi_0
requests-oauthlib=2.0.0=pypi_0
retrying=1.3.4=pypi_0
rich=13.4.2=pypi_0
rpds-py=0.20.1=pypi_0
rsa=4.9=pypi_0
scikit-image=0.21.0=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.10.1=pypi_0
setuptools=60.2.0=pypi_0
shapely=1.8.5=pypi_0
six=1.17.0=pypi_0
sqlite=3.45.3=h5eee18b_0
stack-data=0.6.3=pypi_0
sympy=1.13.3=py38h06a4308_0
tabulate=0.9.0=pypi_0
tbb=2021.8.0=hdb19cb5_0
tensorboard=2.14.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorboardx=2.6.2.2=pypi_0
termcolor=2.4.0=pypi_0
terminaltables=3.1.10=pypi_0
threadpoolctl=3.5.0=pypi_0
tifffile=2023.7.10=pypi_0
tk=8.6.14=h39e8969_0
tomli=2.2.1=pypi_0
torchtriton=3.0.0=py38
torchvision=0.20.0=py38_cu124
tqdm=4.65.2=pypi_0
traitlets=5.14.3=pypi_0
trimesh=4.6.4=pypi_0
typing=3.7.4.3=pypi_0
typing_extensions=4.11.0=py38h06a4308_0
tzdata=2025.1=pypi_0
urllib3=1.26.20=pypi_0
wcwidth=0.2.13=pypi_0
werkzeug=3.0.6=pypi_0
wheel=0.44.0=py38h06a4308_0
widgetsnbextension=4.0.13=pypi_0
xz=5.6.4=h5eee18b_1
yaml=0.2.5=h7b6447c_0
yapf=0.43.0=pypi_0
zipp=3.20.2=pypi_0
zlib=1.2.13=h5eee18b_1
zstd=1.5.6=hc292b87_0
